* {
    padding: 0;
    margin: 0;
}

body {
    background: #212738;
    color: white;
    height: 100%;
}

input {
    width: 100px;
    margin-top: 10px;
}

button {
    margin: 20px 0 20px 0;
}

select {
    border-radius: 5px;
    padding: 5px;
}


.type-switch {
    margin: 50px 0 0 50px;
    display: flex;
    position: relative;
    width: 220px;
    justify-content: space-between;
    background-color: #2E394D;
    border-radius: 10px;
}

.separator span {
    position: absolute;
    left: 88px;
    top: 0;
    width: 7px;
    background-color: grey;
    height: 100%;
    margin-left: -5px;

}

#currency-switch {
    padding: 10px;
    padding-right: 16px;
}

#cryptocurrency-switch {
    padding: 10px;
    margin-left: -7px;
    padding-left: 15px;
    padding-right: 15px;
}

.switch {
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

a, a:active, a:hover {
    color: white;
    text-decoration: none;
}


#currency-switch.active-switch,
#cryptocurrency-switch.active-switch {
    background: #28B066;
}

#top-block {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    margin-bottom: -50px;
}

#logo {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 150px;
    width: 150px;
}

#top-title {
    position: absolute;
    left: 250px;
    top: 150px;
}

.header-burger {
    display: none;
}

#sidebar-currency-select {}

#currencies-list {
    height: 700px;
    overflow: scroll;
    overflow-x: auto;
}

.currencies-list-item {
    padding: 10px;
    border-bottom: 1px solid grey;
    background: #2E394D;
    cursor: pointer;
}

#side-bar {
    width: 200px;
    position: absolute;
    right: 200px;
    top: 50px;
    border: 1px solid #2E394D;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width:1200px) {
    #side-bar {
        right: 100px;
    }
}

.exchange,
.chart-wrapper {
    background: #2E394D;
    padding: 50px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.exchange {
    position: relative;
    margin-top: 50px;
    width: 40%;

}

@media (max-width:1024px) {
    .exchange {
        width: 60vw;
    }

    #top-block {
        margin-bottom: -100px;
    }
}

@media (max-width:900px) {
    #side-bar {
        top: 250px;
        right: 50px;
    }

    #currencies-list {
        height: 740px;
    }

}

.chart-wrapper {
    width: 60vw;
    padding-right: 100px;
    margin-bottom: 100px;
}

#chart-container {
    width: 60vw;
    background: #2E394D;
    border-radius: 20px;
    overflow: hidden;
    padding-right: 10vw;
    margin-left: -50px;
    overflow: auto;
}


.burger-wrapper {
    padding: 10px;
    display: none;
}

/********* Mobile ***********/


@media (max-width:800px) {
    #side-bar {
        display: none;
        top: -100%;
    }

    #side-bar.active {
        width: 100%;
        height: 2000px;
        display: block;
        top: 0;
        transition: all 0.3s ease 0s;
        right: 0;
        z-index: 1;
    }

    #currencies-list.active {
        min-height: 100%;
        background: #2E394D;
        z-index: 1;
    }

    body.block {
        overflow: hidden;
    }

    .burger-wrapper {
        padding: 10px;
        display: block;
        z-index: 1;
    }

    .burger-wrapper.active {
        top: 10px;
        right: 20px;
    }

    .burger-title {
        position: fixed;
        font-size: 15pt;
        right: 100px;
        top: 15px;
        z-index: 3;
    }

    .header-burger {
        position: fixed;
        display: block;
        right: 50px;
        top: 15px;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header-burger:before,
    .header-burger:after {
        content: '';
        background: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

     .header-burger:before {
        top: 0;
    }

    .header-burger:after {
        bottom: 0;
    }

    .header-burger span {
        position: absolute;
        background: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-burger.active span {
        transform: scale(0);
    }

    body {
        padding-right: 40px;
    }

    .exchange {
        width: 100%;
        margin-left: 20px;
    }

    .chart-wrapper {
        width: 100%;
        margin-left: 20px;
        margin-bottom: 100px;
    }

    #chart-container {
        width: 99vw;
    }

}

@media(max-width:425px) {

    h1 {
        font-size: 20pt;
    }

    .exchange h1 {
        position: absolute;
        top: 10px;
    }


    body {
        padding-right: 20px;
    }

    .exchange {
        display: flex;
        padding: 20px;
        padding-top: 50px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .chart-wrapper {
        display: flex;
        padding: 20px;
        width: 100%;
        margin-left: 10px;
        margin-bottom: 100px;
    }

    #chart-container {
        padding-left: 20px;
        padding-right: 0px;
    }

    #top-title {
        position: relative;
        left: 50px;
        top: 200px;
        margin-bottom: 10px;
    }

}

@media(max-width:320px) {
    .exchange {
        padding: 20px;
        padding-top: 50px;
    }
    .exchange .col {
        padding: 5px;
    }
    .exchange input {
        width: 70px;
    }
    .exchange .col {
        width: 100%;
    }
}

.periods-list {
    list-style: none;
}

.periods-list li {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #3C3E43;
    padding: 3px

}

.select-period-item {
    cursor: pointer;
}

#currency-to-value {
    color: #28B066;
}